.gitignore~
/dist
/build
/lbFCS.egg-info
README.md~

__pycache__/
/lbfcs/__pycache__

.ipynb_checkpoints/
/scripts/notebooks/.ipynb_checkpoints

dask-worker-space
lbfcs/dask-worker-space
scripts/dask-worker-space
scripts/standard/dask-worker-space
scripts/step-by-step/dask-worker-space
scripts/special/dask-worker-space
scripts/notebooks/dask-worker-space
